<!-- Footer Open Button -->
<div id="footerBtn"><i class="bi bi-info-lg"></i></div>
<footer>
  <p>
    <i class="bi bi-person-badge"></i> Made With ❤️ | ⓒ Lost Movies
    <span id="date"></span>
  </p>
  <p>
    Follow
    <span class="icons">
      <a href="https://github.com/psathul073"><i class="bi-github"> </i></a>
      <a href="https://www.instagram.com/d9.coder"><i class="bi-instagram"></i></a>
      
    </span>
  </p>
</footer>
